<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>後台管理系統</title>
</head>

<body>
  <div>
    <h1>歡迎
      <%= content %>
    </h1>
    <a href="/admin/login">登出</a>
  </div>

</body>

</html>