<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>後台管理系統</title>
</head>

<body>
    <header>
        <div>
            <h3>後台管理系統</h3>
        </div>
    </header>
    <div id="login">登入後台</div>
    <form id="AdminLogin" method="post">
        帳號: <input type="text" name="account" placehoder="account" required="">
        密碼: <input type="text" name="password" placehoder="password" required="">
        <input value="登入" type="submit">
    </form>
</body>

</html>